$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: 'Mountains of Christmas', cursive;
    padding-bottom: 20px;
    background: url(../images/digital-christmas-tree.jpg);
    background-size:cover;
  background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Mountains of Christmas', cursive;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  text-align: center;
  height: 89px;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-top: 22px;
}

.hearts{
  color:rgba(255, 3, 3, 0.81);
  text-shadow:0px 0px 7px rgb(255, 247, 247);
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.calendaritem{
  margin: 5px;
  width: 23% !important;
}

.calendaritem  h1{
  font-size:50px;
  text-align:center;
}


/***
CARDS!
****/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container.flipped .flipper{

  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 115px;
  height: 107px;
  transition: 2.9s;
  -webkit-transition: all 2.9s;

}

/* flip speed goes here */
.flipper {
  transition: 0.9s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 500px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
