$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700);

html {
  height: 100%;
  width: 100%;
}

/* Space out content a bit */
body {
    font-family: 'Mountains of Christmas', cursive;
    padding-bottom: 20px;
    background: url(../images/digital-christmas-tree.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 748px;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Mountains of Christmas', cursive;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  text-align: center;
  height: 89px;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-top: 22px;
}

.hearts{
  color:rgba(255, 3, 3, 0.81);
  text-shadow:0px 0px 7px rgb(255, 247, 247);
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.calendaritem{
  margin: 5px;
  width: 23% !important;
  border:0 !important;
  background-color: rgba(240, 55, 55, 0);
}

.calendaritem  h1{
  font-size:50px;
  text-align:center;
}

#punch, #fail{
  visibility: hidden;
}

.showpresent{
  height: auto;
  max-width: 100%;
}

.loadingscreen{
  transition: all ease 0.8s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 90000;
  background-color: rgb(240, 55, 55);
}

.loadingstop{
  visibility: hidden;
  opacity:0;
}


input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

/***
CARDS!
****/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container.flipped .flipper{

  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 130px;
  height: 107px;
  transition: 0.5s;
  -webkit-transition: all 0.5s;

}

/* flip speed goes here */
.flipper {
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  background-color:#f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  padding: 5px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 500px) {
    .container {
        max-width: 730px;
    }

    // Remove the padding we set earlier
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
   //  Space out the masthead
    .header {
        margin-bottom: 30px;
    }
     //Remove the bottom border on the jumbotron for visual effect
    .jumbotron {
        border-bottom: 0;
    }

/*    .calendaritem{
      width:23% !important;
    }*/
}

@media screen and (max-width: 450px) {

  .back{
    font-size: 200% !important;
  }
/*  .calendaritem{
    width:40% !important;
  }
  h1 {
    font-size: 23px;
  }*/
}