<div ng-if="!isLoggedIn" class="jumbotron">
    <h2>SO U THINK U CAN DANCE?</h2>

    <form ng-submit="login()">
        <input type="text" ng-model="username" placeholder="Your horses' NAME" required/>
        <input type="password" ng-model="password" placeholder="***PASSWORD" required/>
        <button>DIE PLZ</button>
    </form>
</div>


<div class="jumbotron">
    <h2>HEI ADMIN! Du har SNEKET DEg iNN JA?</h2>
    <div class="container">
        <button ng-click="pickFile()">TA ET BILDE DAA!</button>
        <input type="text" ng-model="day"/>
    </div>
</div>
<div class="jumbotron" ng-if="imageUrl">
    <img ng-src="{{imageUrl}}"/>
</div>
