<div class="header">
	<!--<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>-->
	<h1 class="text-muted"><span class="hearts">♥♥</span> Snart er det JUL! :D <span class="hearts">♥♥</span></h1>
</div>

<div class="container">
    <div ng-repeat="item in calendar" >
        <div class="col-sm-3 flip-container well calendaritem" ng-click="flipCalendar(item.day)" ng-class="{'flipped':item.flipped}">
            <div class="flipper" >
                <div class="front">
                    <h1>{{item.day}}</h1>
                </div>
                <div class="back">
                    This is the back
                </div>
            </div>
        </div>
    </div>
</div>